/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: hsl(214, 15%, 91%);
}

h1{
  font-size: 5rem;
  text-align: center;
}

h2{
  color: #4B4C4D;
  font-size: 2.1rem;
}

h3{
  font-size: 1.6rem;
}

p{
  color: #4B4C4D;
  line-height: 2.7rem;
  font-size: 1.6rem;
  letter-spacing: .03rem;
}

p + p{
  margin-top: 1rem;
}

a,
a:link,
a:visited{
  text-decoration: none;
}

hr{
  border-top: 1px solid hsl(210, 6%, 81%);
  border-bottom: 1px solid white;
  border-left: none;
  border-right: none;
  margin: 5rem 0;
}

fieldset{
  border: none;
  padding: 0;
  padding-top: 1.6rem;
}

legend{
  font-size: 2rem;
  color: #B2B4B7;
  font-weight: bold;
}

label{
  font-size: 1.6rem;
  color: #41494F;
}

input[type="tel"]{
  border: 1px solid hsl(210, 1%, 30%);
  height: 2.1rem;
  width: 3rem;
  padding-left: .4rem;
  font-size: 1.6rem;
}

select{
  width: 100%;
}

dt{
  color: hsl(211, 65%, 22%);
  font-size: 1.6rem;
  list-style-position: inside;
  list-style-type: '- ';
  font-weight: bold;
  margin-bottom: 1.6rem;
}

dd{
  color: hsl(211, 65%, 22%);
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
  padding-left: 1rem;
}

/* check */
input[type=checkbox].css-checkbox{
  position:absolute;
  z-index:-1000;
  left:-1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
}

input[type=checkbox].css-checkbox + label.css-label{
  padding-left: 2.5rem;
  height: 17px; 
  display: inline-block;
  line-height: 17px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 17px;
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label{
  background-position: 0 -17px;
}
label.css-label {
  background-image: url('./img/check.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* radio */
input[type=radio].css-radio{
  position:absolute;
  z-index:-1000;
  left:-1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
}

input[type=radio].css-radio + label.css-label-radio{
  padding-left: 2.5rem;
  height: 17px; 
  display: inline-block;
  line-height: 17px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 17px;
  vertical-align: middle;
  cursor: pointer;
}

input[type=radio].css-radio:checked + label.css-label-radio{
  background-position: 0 -17px;
}
label.css-label-radio {
  background-image: url('./img/radio.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-bndl{
  margin-bottom: 2rem;
}
/* radio ^ */

select{
  color: #41494F;
  height: 2.1rem;
  /*width: 20rem;*/
  font-size: 1.6rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  
  padding-left: 1.4rem;
  /*margin-left: -.3rem;*/
  line-height: 1;
  background: url('./img/flecha.png') no-repeat right;
  -webkit-appearance: none;
  background-position-x: 0rem;
}

/* CONTAINERS */
.container-general{
  max-width: 120rem;
  min-width: 900px;
  /*min-width: 60rem;*/
  padding: 1rem 1rem 0;
  margin: 0 auto;
}


/* FLOAT COLUMNS */
.row{
  overflow: hidden;
}
.row-input{
  margin-bottom: 1rem;
}

.col-1-de-2{
  max-width: 49%;
  width: 100%;
  float: left;
}
.col-1-de-2:not(:last-child){
  margin-right: 2%;
}

.col-1-de-3{
  max-width: 32%;
  width: 100%;
  float: left;
}
.col-1-de-3:not(:last-child){
  margin-right: 2%;
}

.col-2-de-3{
  max-width: 66%;
  width: 100%;
  float: left;
}
.col-2-de-3:not(:last-child){
  margin-right: 2%;
}

.col-1-de-4{
  max-width: 23%;
  width: 100%;
  float: left;
}
.col-1-de-4:not(:last-child){
  margin-right: 2%;
}

.stack{
  margin-bottom: 2rem;
}

/* ************************* */
/* SECCION DIDACTICA */
/* ************************* */

/* BARRA ----------------------------------------------------------- */
.barra-container{
  display: table;
  width: 100%;
  border: 1px solid #CBCED1;
  border-radius: .4rem;
}
.barra-container > *{
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle;
  border: none;
  font-size: 1.6rem;
  height: 4rem;
}

.prefijo-endpoint{
  background-image: linear-gradient(to bottom, hsl(195, 6.7%, 88.2%), hsl(214, 21%, 94%));
  color: hsl(0, 0%, 30%);
  padding: 0 1.6rem 0;
  width: 1%;
  border-right: 1px solid hsl(210, 6%, 81%);
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}
.barra{
  padding: 0 1rem 0rem;
  width: 100%;
}
.boton-enviar{
  background-color: hsl(211, 25%, 41%);
  color: white;
  border-left: 1px solid hsl(210, 6%, 81%);
  padding: 0 1.6rem 0;
  width: 1%;
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
  cursor: pointer;
  transition: background-color, .15s;
}
.boton-enviar:hover{
  background-color: hsl(211, 25%, 23%);
}

/* Secciones */
.seccion-barra{
  margin-bottom: .8rem;
}

@media(max-width: 1240px){
  .seccion-resultados{
    min-width: 60rem;
    max-width: 90%;
    float: none;
  }
  .seccion-resultados:not(:last-child){
    margin: 0 auto;
  }
  .seccion-resultados > pre{
    max-height: 50rem;
  }
  
  .seccion-controles{
    max-width: 90%;
    margin: 4rem auto 0;
    min-width: 60rem;
    float: none;
  }
}

/* .seccion-resultados{
  
}

.seccion-controles{

} */


/* RESULTADOS ----------------------------------------------------------- */
.resultados-control{
  min-height: 600px;
  margin-top: 4rem;
}
/* .resultados-control > *{
} */

.resultados{
  overflow: scroll;
  font-size: 1.4rem;

  background-color: hsl(220, 18%, 97%);
  border: 1px solid hsl(210, 6%, 81%);

  padding: 3rem 1rem;
}

/* CONTROLES ----------------------------------------------------------- */
.fieldset{
  padding: 0;
}

.sub-legend{
  font-size: 1.6rem;
  font-style: italic;
  font-weight: normal;
  /*margin-top: 3rem;*/
}

.visor-range{
  color: hsl(205, 29%, 28%);
  font-weight: bold;
  margin-top: .4rem;
}
.visor-range > span{
  font-weight: normal;
}
.visor-range.greyed{
  color: hsl(209, 12%, 66%);
}

#formulario-controles .row{
  margin-top: 1rem;
}

.primer-sub-legend{
  margin-top: .1rem;
}


/* ************************* */
/* INTRODUCCION Y DESCRIPCIONES (y footer) */
/* ************************* */

/* HEADER ----------------------------------------------------------- */
.titulo-general{
  color: hsl(220, 1%, 41%);
  text-shadow: 2px 2px 0 white;
  max-width: 50rem;
  margin: 4rem auto 0;
}

.descripcion-general{
  color: hsl(210, 1%, 30%);
  text-align: center;
}
.descripcion-general:not(:last-child){
  margin-bottom: 2rem;
}

/* DESCRIPCIONES ----------------------------------------------------------- */
/* .descripcion-que{
  margin-bottom: 1.2rem;
} */
.descripcion-como{
  max-width: 62%;
  margin-left: 4%;
}

@media(max-width: 1240px){
  .descripcion-que{
    min-width: 60rem;
    max-width: 90%;
    float: none;
  }
  .descripcion-que:not(:last-child){
    margin: 0 auto;
  }
  
  .descripcion-como{
    max-width: 90%;
    margin: 4rem auto 0;
    min-width: 60rem;
    float: none;
  }
}

.descripcion-titulo{
  margin-bottom: 1.6rem;
}

.endpoints{
  display: block;
  color: hsl(210, 36.2%, 22.7%);
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

/* Endpoints */
.endpoint{
  margin-top: 2rem;
}

.endpoint-titulo{
  color: hsl(211, 65%, 22%);
  font-weight: normal;
}

.endpoint-contenido{
  padding-left: 4rem;
}

.endpoint-descripcion{
  margin-top: 1.2rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.sublista-titulo{
  /*display: inline-block;*/
  margin: 1.2rem 0 1.4rem;
  color: hsl(210, 1%, 30%);
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}
.sublista-titulo:after{
  content: '';
  display: inline-block;
  margin-left: 1rem;

  width: 0; 
  height: 0; 
  border-left: .7rem solid transparent;
  border-right: .7rem solid transparent;
  
  border-top: 1rem solid hsl(210, 1%, 30%);
  transition: transform .1s ease-out;
}
.sublista-titulo.flecha-arriba:after{
  /*
  border-bottom: 1rem solid hsl(210, 1%, 30%);
  border-top: none;*/

  transform: scale(-1);
}

.sublista-dl{
  margin-bottom: 4rem;
}

.sublista-item{
  color: hsl(211, 65%, 22%);
  font-size: 1.6rem;
  list-style-position: inside;
  list-style-type: '- ';
  font-weight: bold;
  margin-bottom: 1.6rem;
}

/* FOOTER ----------------------------------------------------------- */
main + hr{
  margin-bottom: 0;
}

.footer{
  display: table;
  width: 100%;
  height: 8rem;
}

.footer > *{
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle;
}

.credito{
width: 100%;
}

.credito > a{
  color: hsl(211.4, 38.5%, 33.1%);
  font-weight: bold;
}

.redes{
width: 1%;
}

.red{
  width: 4rem;
}

.red-path{
  fill: rgb(37, 46, 65);
}

html[lang="es"] [lang="en"],
html[lang="en"] [lang="es"]{
  display: none;
}