/* TEST DELETE LATER */
.header .vertical-center{
  /*background-color: #0058D0;*/
}
/*
body::before{
  content: "";
  display: inline-block;
  height: 95vh;
  width: 100%;
  max-width: 100rem;
  background-color: #0058D0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -9999;
}*/

/*
Break points:
200 (min)
400
768
960
1200
1920
3840 (max)
*/

/* General --- */
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  font-family: "Work Sans", "Arial", sans-Serif;
  color: #1D1D1F;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat", "Arial", sans-Serif;
}

h1{
  font-size: 1.8rem;
}
h2,
.header .subtitle{
  font-size: 3.6rem;
  min-height: 0vw;

  margin-bottom: 2rem;
  text-align: center;

  font-weight: 800;
}
h3{
  font-size: 2.6rem;
  /* margin-bottom: 2rem; */

  font-weight: 800;
}

p, span, ul, ol{
  font-size: 1.8rem;
}

p{
  /* line-height: 5rem; */
  line-height: 3.5rem;
  max-width: 60rem;
  margin-bottom: 1.6rem;
}

@media(min-width: 200px) {
  h1{
    font-size: calc(1.8rem + ((1vw - 0.2rem) * 5));
  }
  h2{
    font-size: calc(3.6rem + ((1vw - 0.2rem) * 12));
  }
}

@media(min-width: 400px) {
  p, span, ul, ol{
    font-size: 2.1rem;
  }
  p{
    /* line-height: 6rem; */
    line-height: 4.6rem;
    margin-bottom: 2rem;
  }
  h1{
    font-size: 2.8rem;
  }
  h2{
    font-size: 6rem;
    margin-bottom: 5rem;
  }
  h3{
    font-size: 3.4rem;
    line-height: 5rem;
    /* margin-bottom: 3rem; */
  }
}
@media(min-width: 700px) {
  h2{
    text-align: start;
  }
}
@media(min-width: 960px) {
  h2{
    font-size: 7.2rem;
  }
  h3{
    font-size: 4.8rem;
    /* line-height: 7rem; */
    /* margin-bottom: 4rem; */
  }
  
  p, span, ul, ol{
    font-size: 2.1rem;
  }
  
  p{
    margin-bottom: 2rem;
  }
}
@media(min-width: 1200px) {
  h1{
    /* font-size: 8.6rem; */
    font-size: 3.4rem;
  }
}

/* 4K */
@media(min-height: 1081px) and (min-width: 1921px) {
  h1{
    font-size: 3.1vh;
  }
  h2{
    font-size: 6.6vh;
  }
  h3{
    font-size: 4.4vh;
    line-height: 6.4vh;
    /* margin-bottom: 3.43vh; */
  }
  
  p, span, ul, ol{
    font-size: 1.94vh;
  }
  
  p{
    max-width: 55vh;
    line-height: 4.62vh;
    margin-bottom: 1.85vh;
  }
}

.container{
  max-width: 140rem;
  padding: 0 3rem;
  margin: 0 auto;
}
@media(min-width: 768px) {
  .container{
    padding: 0 9rem;
  }
}

.about .container,
.case-studies .container{
  padding-top: 9rem;
}

.case-studies{
  padding-bottom: 2rem;
}
@media(min-width: 960px) {
  .case-studies{
    padding-bottom: 10rem;
  }
}

ul, ol{
  list-style: none;
}

.hp{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

/* 4K */
@media(min-height: 1081px) {
  .container{
    max-width: 120vh;
  }
  .about .container,
  .case-studies .container{
    padding-top: 8.33vh;
  }
  .case-studies{
    margin-bottom: 8.33vh;
  }
}

/* Hero background -------------------------------------------------------------------------------------------------------------- */
.heroback{
  z-index: -2;
  position: absolute;
  width: 100vw;
  height: 520vh;
  min-height: 3000px;
  max-width: 3840px;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
}

.heroback rect{
  display: none;
}

.heroback .mobile{
  display: none;
}

@media(min-width: 768px) {
  .heroback rect{
    display: block;
  }
}

@media(max-width: 767px) {
  .heroback .mobile{
    display: inline-block;
  }
  .heroback .long{
    height: 1400px;
  }
}

@media(max-width: 1070px) {
  .heroback .ultrawide{
    display: none;
  }
}

.heroback rect{
  /*fill: #0058D0;*/
}

/* Mobile version */
.heroback-mobile{
  z-index: -2;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: red;
  top: 0;
  left: 0;
}

@media(min-width: 768px) {
  .heroback-mobile{
    display: none;
  }
}

/* Header ----------------------------------------------------------------------------------------------------------------------- */
.header{
  color: white;
  padding: calc(3rem + ((1vw - 0.2rem) * 6)) 0;
  position: relative;
}
.header h1::selection,
.header p::selection,
.header b::selection{
  background-color: rgba(255, 255, 255, .9);
  color: #0a1d35;
}

.header .subtitle{
  text-align: start;
  font-size: 2.5rem;
}

.freelance-available > b::selection{
  background-color: #0a1d35;
  color: white;
}

/* .header .subtitle{
  font-size: 5.4rem;
  line-height: 7rem;
  font-weight: 800;
  max-width: 68rem;
} */

.header .container{
  position: relative;
  height: 100%;
}

.header .container::after{
  content: "";
  display: table;
  clear: both;
}

.header .vertical-center{
  /* margin-top: calc(3rem + ((1vw - 0.2rem) * 6)); */
  /* float: left; */
}

.header h1{
  max-width: 64rem;
  margin: 4.4rem 0 2rem;
}

.summary{
  max-width: 84rem;
  margin-bottom: 3rem;
  line-height: 4.4rem;
}

@media(min-width: 200px) {
  .header h1{
    margin-top: 0;
    padding-right: 6rem;
  }
  .header .subtitle{
    line-height: calc(3.5rem + ((1vw - 0.2rem) * 12.5));
    font-size: calc(2.5rem + ((1vw - 0.2rem) * 10));
  }
}
@media (min-width: 260px) {
  .header .subtitle{
    padding-right: 6rem;
  }
}
@media(min-width: 400px) {
  .header .subtitle{
    font-size: 4.5rem;
    line-height: 6rem;
    padding-right: 9rem;
  }

  .header h1{
    padding-right: 10rem;
  }
}
@media (min-width: 768px) {
  .header{
    min-height: 100vh;
    padding-bottom: 0;
  }
  .header .container{
    /* margin-top: calc(12rem + ((1vh - 0.8rem) * 23.622)); */
  }
  .header .vertical-center{
    width: 74%;
    /* top: 8%; */
    /* margin-top: calc(10%); */
    /* margin-top: 8%; */
  }
  .header h1{
    margin-bottom: 2.8rem;
    padding-right: 0;
    width: calc(30rem + ((1vw - 0.85rem) * 52.0833));
  }
  .header .subtitle{
    padding-right: 0;
    width: calc(38rem + ((1vw - 0.8rem) * 49.6689));
  }
}
@media(min-width: 960px) {
  .header .subtitle{
    max-width: 70rem;
  }
  .header h1{
    width: auto;
  }
}
@media(min-width: 1200px) {
  .header .subtitle{
    font-size: 5.4rem;
    width: auto;
    line-height: 7rem;
  }
}

@media (min-width: 700px) /*and (min-height: 500px) */ {
  .header .vertical-center{
    /* position: absolute; */
    
    /* top: 8%; */
    /* top: 6rem; */
    /* margin-top: 8rem; */
    
    /* transform: translateY(-50%);
    top: 50%; */
    
    left: 0;
    /* padding: 0; */
  }
}

/* 4K */
@media(min-height: 1081px) {
  .header h1{
    max-width: none;
  }
  .summary{
    max-width: 56%;
    margin-bottom: 3.4rem;
  }
}

.header-buttons{
  width: 100%;
  display: inline-block;
  box-shadow: 0 7px 15px rgba(0,0,0,.2);
}

.header-buttons > a{
  font-size: 1.9rem;
  font-weight: bold;
  color: black;
  /* padding: 2.2rem 4.2rem; */
  padding: 2rem 0 4rem 1.6rem;
  border: none;
  /* border-radius: .3rem; */
  /* transition: background-color .2s; */
  text-decoration: none;
  /* text-align: center; */
  display: inline-block;
  white-space: nowrap;
  width: 100%;
}

@media (min-width: 500px) {
  .header-buttons > a{
    width: 23rem;
  }
  .header-buttons{
    display: inline-flex;
    flex-flow: row nowrap;
    width: auto;
  }
}

@media (min-width: 960px) {
  .header-buttons > a{
    font-size: 2.2rem;
    padding: 2rem 12rem 4rem 1.6rem;
  }
}

/* 4K */
@media (min-height: 1081px) {
  .header-buttons > a{
    font-size: 1.76vh;
    padding: 2.04vh 4.63vh;
    border-radius: .28vh;
  }
}

.header h1 ~ a:first-of-type{
  /* border: 2px solid #ff5842;
  background-color: #ff5842;
  margin-bottom: 1rem; */
  /* background-color: white; */
}
.header h1 ~ a:last-of-type{
  /* border: 2px solid #1D1D1F;
  background-color: #1D1D1F; */
  /* background-color: #ff5f4a; */
}

@media(min-width: 400px) {
  .header h1 ~ a{
    /* width: auto; */
  }
  .header h1 ~ a:first-of-type{
    /* margin-bottom: 0;
    margin-right: 2rem; */
  }
}

.header h1 ~ a:first-of-type:hover{
  /* background: transparent;
  color: #ff5842; */
  /*background-color: #ff6753;*/
}
.header h1 ~ a:last-of-type:hover{
  /* background: transparent;
  color: #1D1D1F; */
  /*background-color: #29292c;*/
}

.freelance-available{
  font-size: 1.8rem;
  letter-spacing: .05rem;
  background-color: rgba(255, 255, 255, .97);
  color: #103464;
  display: inline-block;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
  line-height: 3rem;
  font-style: italic;
  opacity: .85;
}
@media (min-width: 500px) {
  .freelance-available{
    padding: 0 4rem;
  }
}

/* Nav ----------------------------------------------------------------------------------------------------------------- */
.header .nav{
  display: none;
}
@media(min-width: 768px) {
  .header .nav{
    text-align: end;
    /* float: left; */
    width: 26%;
    /* padding-top: 4rem; */
    display: inline-block;
    right: 9rem;
  }
  .header .nav ul{
    font-size: 1.75rem;
  }
}

@media(min-width: 960px) {
  .header .nav ul{
    font-size: 2rem;
  }
}

/* @media(min-height: 500px) { */
.header .nav{
  position: absolute;
  /* top: 8%; */
  top: 0;
  right: 1rem;
  float: none;
  padding-right: inherit;
  width: auto;
}
/* } */

.header .nav li{
  /* margin-bottom: 2rem; */
  list-style: none;
}

.header .nav a,
.header .nav a:link,
.header .nav a:visited{
  font-weight: bold;
  text-decoration: none;
  /* padding: 1.4rem 2rem 4rem 6rem; */
  padding: 2rem 1.6rem 4rem 6rem;
  width: 100%;
  display: inline-block;
}
.header .nav{
  /* position:relative; */
  /*transition-duration: 0;
  transition-delay: 0;
  box-shadow: none;*/
}
.header .nav a:hover{
  animation: .5s late-shadow .1s forwards;
}
/* 4K */
@media(min-height: 1081px) {
  .header .nav ul{
    font-size: 1.85vh;
  }
  .header .nav li{
    margin-bottom: 4.6vh;
  }
  .header .nav a,
  .header .nav a:link,
  .header .nav a:visited{
    padding: 1.1vh 1.8vh;
  }
}

/* Nav Mobile ----------------------------------------------------------------------------------------------------------- */
.nav-mobile{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0058D0;
  z-index: 9998;
}

@media (min-width: 768px) {
  .nav-mobile,
  .nav-check-label{
    display: none;
  }
}

/* Checkbox hack */
#nav-check{
  display: none;
}

.nav-check-label{
  position: fixed;
  top: calc(3.6rem + ((1vw - 0.2rem) * 6));;
  right: 3rem;
  font-size: 2rem;
  z-index: 9999;
  cursor: pointer;
}

.nav-check-label::before{
  content: "";
  display: inline-block;
  position: absolute;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 100%;
  background-color: #0058D0;
  transform: translate(-50%, -50%);
  top: calc(50% - .25rem);
  left: 50%;
}

.nav-check-label::selection{
  background-color: transparent;
}

.nav-mobile{
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  /* right: -100%; */
  transform: translateX(100%);
}
#nav-check:checked ~ .nav-mobile{
  /* right: 0; */
  transform: none;
}

/* Label animation */
.nav-check-label > span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #ffffff;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.nav-check-label > span:first-child {
  transform-origin: -5% 150%;
}

.nav-check-label > span:nth-child(3) {
  transform-origin: 25% 50%;
}

#nav-check:checked ~ .nav-check-label > span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  border-radius: 0;
}

#nav-check:checked ~ .nav-check-label > span:nth-child(2) {
  opacity: 0;
  transform: translateX(40%) scaleX(0);
}

#nav-check:checked ~ .nav-check-label > span:nth-child(3) {
  transform: rotate(-45deg) translate(0, -1px);
}

@media(min-width: 400px) {
  .nav-check-label > span{
    width: 44px;
    height: 5px;
    margin-bottom: 6px;
  }

  .nav-check-label::before{
    width: 8rem;
    height: 8rem;
    top: calc(50% - .25rem);
  }

  .nav-check-label > span:first-child {
    transform-origin: 3% 124%;
  }
  
  .nav-check-label > span:nth-child(3) {
    transform-origin: 25% 50%;
  }
}
/* End of Checkbox hack */

.nav-mobile nav{
  position: absolute;
  right: 3rem;
  bottom: 20vw;
  bottom: calc(8rem + 10vw);
  padding-bottom: 2rem;
  text-align: end;
  border-bottom: 1px solid white;
}

.nav-mobile .social-media{
  position: absolute;
  right: 3rem;
  bottom: calc(4rem + 5vw);
  transform: translateY(50%);
}

@media(min-width: 768px) {
  .nav-check-label{
    right: 9rem;
    top: 7.6rem;
  }

  .nav-mobile nav{
    right: 9rem;
  }

  .nav-mobile .social-media{
    right: 9rem;
  }
}

.nav-mobile .social-media li{
  display: inline-block;
  margin-left: 1.2rem;
}

.nav-mobile .social-media svg{
  height: 3.6rem;
  fill: white;
}

.nav-mobile nav a{
  padding: 1.6rem 0;
  font-size: 2.5rem;
  font-weight: bold;
  display: inline-block;
}

.nav-mobile nav a,
.nav-mobile nav a:link,
.nav-mobile nav a:visited{
  /* font-size: 7vw;
  font-size: calc(-.03rem + 9.1vw); */
  text-decoration: none;
  color: white;
}

@media(min-width: 200px) {
  .nav-mobile nav a{
    font-size: calc(2.5rem + ((1vw - 0.2rem) * 12.5));
  }

  .nav-mobile nav a{
    padding: calc(1.6rem + ((1vw - 0.2rem) * 4)) 0;
  }

  .nav-mobile .social-media svg{
    height: calc(3.6rem + ((1vw - 0.2rem) * 4.5));
  }
}

@media(min-width: 400px) {
  .nav-mobile nav a{
    font-size: 5rem;
  }

  .nav-mobile nav a{
    padding: 2.4rem 0;
  }

  .nav-mobile .social-media svg{
    height: 4.5rem;
  }
}

/* Aside ----------------------------------------------------------------------------------------------------------------------- */
.aside{
  display: none;
  position: fixed;
  top: 0;
  height: 100vh;
}

@media(min-height: 200px) and (min-width: 768px) {
  .aside{
    display: block;
  }
}

@media(min-height: 400px) {
  .aside .titles{
    position: relative;
    width: 6.3rem;
    height: 23rem;
    overflow: hidden;
    margin: 1rem;
  }
}

@media(min-height: 600px) {
  .aside .titles{
    height: 65vh;
    height: calc(100vh - 32%);
  }
}

.aside .titles a{
  position: absolute;
  font-weight: bold;
  font-size: 1.8rem;
  display: inline-block;
  /*transform: rotate(-90deg) translate(-4rem, -50%);*/
  left: 60%;
  transform: translate(-50%, 75%) rotate(-90deg);
  /* Same as .aside width */
  height: 6.3rem;
  /* color: #1D1D1F; */
  color: transparent;
  text-decoration: none;
  width: 15rem;
  white-space: nowrap;
  display: none;
  animation-name: titles-a-intro;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-duration: .5s;
}

.aside.scrolled .titles a{
  display: inline-block;
}

.aside .titles a::after{
  position: absolute;
  content: "";
  display: inline-block;
  right: 130%;
  height: .2rem;
  width: 60vh;
  background-image: linear-gradient(90deg, transparent 50%, #1D1D1F 50%);
  background-size: 300%;
  background-position-x: 100%;
  cursor: auto;
}

.aside.scrolled .titles a::after{
  animation: titles-after-intro .75s ease-out;
}

/* 4K */
@media(min-height: 1081px) {
  .aside .titles{
    width: 5.8vh;
  }

  .aside .titles a{
    height: 6.8vh;
    width: calc(4rem + 8vh);
    font-size: 1.86vh;
  }

  .aside .titles::after{
    top: 20rem;
  }
}

.aside ul{
  /*transform: translateY(-50%);*/
  width: 6.3rem;
  /*padding: 1.8rem 0;*/
  margin-left: 1rem;
  margin-top: 4rem;
}

.aside li{
  position: relative;
  margin: 1.36rem 0;
  width: 100%;
  text-align: center;
  z-index: 111;
}

@media(min-height: 400px) {
  .aside li{
    margin: 3.1vh 0;
  }
}

.aside li svg{
  min-height: 3rem;
  height: 4vh;
  /*height: 4.5rem;*/

  transition: .1s fill;
}

.aside li:nth-child(3n-2) svg{
  stroke: #3a380a;
  fill: #FFF500;
}
.aside li:nth-child(3n-1) svg{
  stroke: #1D1D1F;
  fill: #1D1D1F;
}
.aside li:nth-child(3n) svg{
  stroke: #350E09;
  fill: #FF5F4A;
}

.aside li a:hover svg{
  fill: white;
  stroke: black;
  stroke-width: 1px;
}
.aside li a:hover svg::before{
  content: "";
  background-color: #5A93E1;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  border-radius: 999rem;
}
.aside li svg::before{
  transition-property: height, width;
  transition-duration: .2s;
  height: 0;
  width: 0;
}

@keyframes titles-a-intro{
  0%{
    color: transparent;
  }
  100%{
    color: #1D1D1F;
  }
}

@keyframes titles-after-intro{
  0%{
    background-position-x: 140%;
  }
  100%{
    background-position-x: 100%;
  }
}

/* About ------------------------------------------------------------------------------------------------------------------------ */
.about .tech-skills{
  max-width: 90rem;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  margin-right: -2rem;
}

.about .tech-skills li{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1rem;
  width: 5rem;
  margin-right: 2rem;
}

.about .tech-skills svg{
  width: 100%;
}

.about .tech-skills li p{
  text-align: center;
  max-width: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2rem;
}

.about h3{
  margin-top: 6rem;
}

@media(min-width: 400px) {
  .about .tech-skills li{
    width: 9rem;
  }
  .about .tech-skills li p{
    line-height: 2.8rem;
  }
}

@media(min-width: 960px) {
  .about .tech-skills li{
    width: 13rem;
  }
}

/* 4K */
@media(min-height: 1081px) {
  .about li{
    margin-bottom: 1.9vh;
  }
  
  .about h3{
    margin-top: 5.56vh;
  }
}

/* Case studies ----------------------------------------------------------------------------------------------------------------- */
.project{
  margin-bottom: 4rem;
  position: relative;
}

.project h3{
  margin-bottom: 1.5rem;
}

.project h3 + p{
  font-weight: bold;
  color: #51545a;

  line-height: 2.1rem;
  margin-bottom: 2rem;
}

.project img{
  margin-bottom: 3.6rem;
  background-color: blue;
  width: 100%;
  box-shadow: 0 15px 20px -6px rgba(0, 0, 0, .3);
  object-fit: cover;
}

.project .interaction-buttons{
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.project .interaction-buttons a{
  width: 4rem;
  height: 4rem;
  display: inline-block;
}

.project .interaction-buttons a:last-child{
  margin-left: 20%;
}

.project .interaction-buttons a > svg{
  fill: #1D1D1F;
  transition-property: fill, stroke;
  transition-duration: .1s;
  stroke: transparent;
  stroke-width: 1px;
}
.project .interaction-buttons a > svg:hover{
  fill: #fffdb3;
  stroke: #a7a22d;
}

.project p{
  line-height: 2.7rem;
}

.project h4{
  margin-bottom: 1rem;
}

.project ul{
	display: flex;
	flex-flow: wrap row;
  max-width: 60rem;
}
.project li{
  margin-right: .2rem;
  margin-bottom: .2rem;
}

.project ul::after{
  content: "";
  flex-grow: 10;
}

.project li{
	display: inline-block;
	color: white;
	font-size: 1.6rem;
	/* font-weight: bold; */
	padding: .8rem .8rem;
	text-align: center;

	background-color: #ff5842;

	flex-grow: 1;
}

@media (min-width: 200px) {
  .project{
    margin-bottom: calc(4rem + ((1vw - 0.2rem) * 13));
  }

  .project h3{
    font-size: calc(2.6rem + ((1vw - 0.2rem) * 10));
    min-height: 0vw;

    /* margin-bottom: calc(1rem + ((1vw - 0.2rem) * 8)); */
  }

  .project h3 + p{
    font-size: calc(1.8rem + ((1vw - 0.2rem) * 6));
    min-height: 0vw;

    line-height: calc(2.1rem + ((1vw - 0.2rem) * 6.5));

    margin-bottom: calc(2rem + ((1vw - 0.2rem) * 9));
  }

  .project p{
    line-height: calc(2.7rem + ((1vw - 0.2rem) * 0.5));;
  }

  .project .interaction-buttons a:last-child{
    margin-left: 3rem;
  }
}

@media (min-width: 400px) {
  .project{
    margin-bottom: 6.6rem;
  }

  .project h3{
    font-size: 4.6rem;
  }

  .project h3 + p{
    font-size: 2.5rem;

    line-height: 3.4rem;
    margin-bottom: .5rem;
  }

  .project img{
    width: 85%;
    width: calc(100% - 9rem);
    display: inline-block;
    vertical-align: bottom;
  }

  .project .interaction-buttons{
    width: 6rem;
    display: inline-block;
    vertical-align: top;
    margin-left: 2rem;
  }

  /* .project .interaction-buttons{
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    margin-bottom: 0;
  } */

  .project .interaction-buttons > a{
    display: block;
  }

  .project .interaction-buttons a:last-child{
    margin-left: 0;
    margin-top: 2rem;
  }

  .project p{
    line-height: 3.3rem;
    margin-bottom: 1.4rem;
  }

  .project h4{
    margin-top: 3rem;
  }

  .project li{
    margin: 0 1rem 1rem 0;
    padding: .8rem 1.6rem;
  }

  /* .case-studies h2{
  }

  .project h3{
    font-size: 4.5rem;
  }
  
  .project h4{
    font-size: 3rem;
  } */
}

@media (min-width: 960px) {
  .project{
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }

  .project:nth-child(odd) {
    padding-right: 5rem;
  }

  .project:nth-child(even) {
    padding-left: 5rem;
  }

  .case-studies h2{
    font-size: 7.2rem;
    margin-bottom: 7rem;
  }
}
/* 
.project{
  
} */

/*

LEGACY PROJECT

.project{
  margin: 7rem 0;
}

.project p:last-of-type{
  margin-bottom: 2.4rem;
}

.project h4{
  margin-bottom: 3rem;
}

} */

/* 4K */
@media(min-height: 1081px) {
  /* .case-studies h3{
    margin-bottom: 1.85vh;
    max-width: 46.3vh;
  } */

  /* 
  
  LEGACY PROJECT
  
  .project ul{
    max-width: 55vh;
  }

  .project li{
    font-size: 1.48vh;
    padding: .74vh 1.48vh;
  }   */
}

/* Contact background -------------------------------------------------------------------------------------------------------------- */
.contactback{
  position:absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
}


/* Contact ----------------------------------------------------------------------------------------------------------------------- */
.footer{
  background-color: #1D1D1F;
  color: white;
  position: relative;
  z-index: 10;
  min-height: 96vh;
}

.contact a,
.contact a:link,
.contact a:visited{
  color: white;
  text-decoration: none;
  font-style: normal;
}

.contact{
  position: relative;
}

.contact .container{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contact .container::after{
  content: "";
  display: table;
  clear: both;
}

.contact address{
  margin-bottom: 4rem;
}

.contact address li{
  display: inline-block;
  margin-right: 1rem;
}

.contact address svg{
  fill: white;
  height: 3.4rem;
}
.contact form{
  max-width: 60rem;
}
.contact form p{
  margin-bottom: 1rem;
  max-width: 100%;
}

.contact input,
.contact textarea{
  padding: 1rem;
  font-size: 1.8rem;
  width: 100%;
}

.contact .submit {
  appearance: none;
  background-color: white;
  border: none;
  padding: 1rem;
  /* without this, the button would be as 
  wide as its column (and the Name field) */
  justify-self: start;
  font-size: 1.8rem;
  cursor: pointer;
  float: right;
}

.footer .aside-fog{
  display: none;
}

@media(min-width: 400px) {
  .contact address svg{
    height: 4rem;
  }
}

@media (min-width: 960px) {
  .contact .container{
    padding-top: 9rem;
    padding-bottom: 9rem;
  }

  .contact address li{
    display: inline-block;
    margin-right: 2rem;
  }

  .contact address{
    float: left;
    width: 45%;
    max-width: 35rem;
  }
  
  .contact form{
    float: left;
    margin-left: 10%;
    width: 45%;
  }
}

@media(min-width: 768px) {
  .footer .aside-fog{
    position: absolute;
    /* background-color: white; */
    background-image: linear-gradient(to top, white 50%, transparent);
    left: 0;
    top: 0;
    transform: translateY(-100%);
    height: 9rem;
    width: 9rem;
    display: inline-block;
    pointer-events: none;
  }
}

/* Animations ---------------------------------------------------------------------------------------------------------------- */

/* 4K */
@media(min-height: 1081px) {
  .contact address{
    max-width: none;
    width: 30%;
  }
  .contact form p{
    margin-bottom: .93vh;
  }

  .contact input,
  .contact textarea{
    padding: .93vh;
    font-size: 1.67vh;
    width: 100%;
  }
}



@keyframes late-shadow {
  0%{
    box-shadow: 0;
  }
  100%{
    box-shadow: 0 4px 15px rgba(0,0,0,.2);
    /* box-shadow: 0 0 20px rgba(0,5,20,.3); */
  }
}